snippet log
        std::cout << "MJ_LOG: ${1}: " << ${1} << std::endl;
snippet msg
		std::cout << "MJ_LOG: ${1}" << std::endl;
snippet err
		std::cout << "err ${1} = " << err << std::endl;
snippet io
	    #include <iostream>
