snippet log
        println!("MJ_LOG: ${TM_FILENAME}@${TM_LINE_NUMBER}: ${1} = {}", ${1});

snippet msg
		println!("MJ_LOG: ${TM_FILENAME}@${TM_LINE_NUMBER}: ${1}");
snippet msgil
		print!("MJ_LOG: ${TM_FILENAME}@${TM_LINE_NUMBER}: ${1}");
